<div class="left-wrap" >
  <ul>
    <li><a href="/admin/">管理首页</a></li>
    <li><a href="/admin/banners">banner设置</a></li>
    <li><a href="/admin/news">新闻设置</a></li>
    <li><a href="/admin/blogs">blog设置</a></li>
    <li><a href="/admin/friends">友情链接</a></li>
    <li><a href="/admin/intros">作品设置</a></li>
    <li><a href="/admin/msgs">留言管理</a></li>
    <li><a href="/admin/aboutme">个人信息</a></li>
  </ul>
</div>
