<style>
    .nav-container ul li{
        display: inline-block;
        margin: 0 20px  0 40px;
    }
</style>
<div class="nav-container" >
    <ul>
        <li>管理员：</li>
        <li>时间: </li>
    </ul>
</div>