/*--blogs begin--*/
#morenews{
    width: 100%;
}
.morenews-container{
    display: flex;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items:center;
    align-items:center;
    -webkit-justify-content:center;
    justify-content:center;
    width:100%;
    margin-top:80px;
}
.morenews-container .news-list{
    width: 90%;
    height: 400px;
    margin: 40px 0;
    padding: 5px;
    border: 1px solid #c0c0c0;
}
.morenews-container .news-list .news-pic,
.morenews-container .news-list .news{
    width: 49%;
    height: 100%;
}
.morenews-container .news-list .news-pic img{
    width: 100%;
    height: 100%;
}
.morenews-container .news-list .news .news-title,
.morenews-container .news-list .news .news-summary{
    overflow: hidden;
    width: 100%;
}
.morenews-container .news-list .news .news-title{
    height: 100px;
}
.morenews-container .news-list .news .news-summary{
    height: 250px;
}
.morenews-container .news-list .news .read-more{
    position: relative;
    left:70%;
    bottom: 0;
    height:50px;
    width: 100px;
    line-height: 50px;
}
.morenews-container .news-list .news .read-more:after{
    height: 50px;
    width: 100px;
}
/*--blogs end--*/
/*--pages nav begin--*/
#pages{
    width: 100%;
    margin: 100px 0;
}
#pages .page-list{
    text-align: center;
    width: 90%;
    height: 52px;
    font-size: 0;
    margin:0  auto;
}
#pages .page-list li{
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #c0c0c0;

}
#pages .page-list li:hover,
#pages .page-list .active {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}
/*--pages nav begin--*/
/*自适应*/

@media all and (max-width:961px) {

    .morenews-container .news-list .news-pic{
        width: 40%;
    }
    .morenews-container .news-list .news{
        float: left;
        margin-left: 20px;
    }
    #pages .page-list{
        height: 104px;
    }

}
@media all and (max-width:641px) {

    .morenews-container .news-list{
        width: 90%;
        height: 800px;
        margin: 40px 0;
    }
    .morenews-container .news-list .news-pic{
        width: 100%;
        height: 50%;
    }
    .morenews-container .news-list .news{
        width: 100%;
        float: left;
    }
    .morenews-container .news-list .news .read-more{
        left: 70%;
    }
}
@media all and (max-width:481px){
    #pages .page-list{
        width: 60%;
    }
    #pages .page-list li{
        width: 50px;
    }
}
/*
@media all and (max-width:381px){

}*/