<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>首页</title>
  </head>
  <% include components/css.inc.ejs %>
  <body>
  <% include components/top.inc.ejs %>
    <div class="page">
      <% include components/left.inc.ejs %>
      <div class="content-wrap" >
            <p>欢迎管理员登录！！！</p>
      </div>
    </div>
  </body>
</html>